@import "./reset.css";

@font-face {
    font-family: dot;
    src: url("./DungGeunMo.woff");
}

body {
    color: white;
    font-family: dot;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    text-align: center;
    padding: 10px;
}

.gameTitle {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.crystal {
    display: flex;
    visibility: hidden;
    justify-content: center;
    margin-bottom: 20px;
}

.colorTable {
    width: 24px;
    height: 24px;
    background-color: dimgray;
    margin: 10px;
    transform: rotate(45deg);
}

.gameBoard > table {
    max-height: 600px;
    max-width: 600px;
    margin: 0 auto;
    width: 90vw;
    height: 90vw;
    border: solid;
    color: darkgray;
    border-collapse: collapse;
}

img {
    pointer-events: none;
}

.arrowKeys {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.arrowKey {
    width: 50px;
    height: 50px;
}

#arrow1 {
    margin-bottom: 50%;
}

#arrow3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);

}
#arrow5 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(200%, -50%) rotateY(180deg);
}

#arrow7 {
    transform: rotateX(180deg);
}
