body{
    margin: 0 auto;
    background-color: black;
    text-align: center;
}

#field {
    width: 100%;
    height: 500px;
}

#game-title, #timer {
    color: white;
}

h2 {
    text-align: center;
}

#top {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#timer {
    text-align: center;
}

#arrowTable {
    margin: 0 auto;
}


#crystal-table {
    display: inline;
    margin-left: 9%;
    margin-right: 20%;
}
.colorTable {
    width: 20px;
    height: 20px;
}

#arrow-keys{
    margin: auto;
    text-align: center;
}